body {
    background-color: #006f6f;
    margin: 00px;
    font-family: trajan, sans-serif;
}

@font-face {
    font-family: trajan;
    src: url('Assets/TrajanPro-Regular.ttf') format('truetype');
}

nav ul {
    list-style-type: none;
    background-color: #006f6f;
    font-family: trajan, sans-serif;
    font-size: 25px;
    margin: 0px auto;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
}

h1 {
    font-size: 65px;
    text-align: center;
    margin: 120px 50px 0px 50px;
}

p {
    font-size: 30px;
    text-align: center;
    margin: 100px 50px 0px 50px;
}

nav li a:hover,
.button:hover {
    background-color: #005050;
    color: #f0a903;
    transition: background-color 1s ease, color 0.5s ease;
}

.home-images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    gap: 20px;
}

.home-images a img {
    width: 100%;
}

.room-images {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
    padding: 50px;
    gap: 50px;
}

table {
    text-align: center;
    margin: 80px auto 80px auto;
    font-size: 20px;
}

th {
    font-size: 30px;
    padding: 10px;
}

table img {
    width: 10%;
}

table,
th,
td {
    border: 3px solid #005050;
    border-collapse: collapse;
    padding: 5px;
}

.mountain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    margin: 80px 0px;
}

fieldset {
    text-align: center;
    margin: 80px auto;
    width: 30%;
    padding: 20px;
    border: 2px solid #f0a903;
}

.button {
    background-color: #006f6f;
    font-family: trajan, sans-serif;
}

input,
textarea {
    border: 2px solid #f0a903;
}

input::placeholder,
textarea::placeholder {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-style: italic;
    background-color: #006f6f;
}

input:focus,
textarea:focus {
    outline: 1px solid #f0a903;
}

@media screen and (max-width: 1300px) {
    .room-images {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: auto auto;
        padding: 50px;
        gap: 50px;
    }
}

@media screen and (max-width: 1100px) {
    nav a {
        font-size: 20px;
    }

    nav ul {
        padding: 30px;
    }

    h1 {
        font-size: 40px;
        margin-top: 60px;
    }

    p {
        font-size: 25px;
        margin: 60px 60px 0px 60px;
    }

    .home-images {
        gap: 20px;
        width: auto;
        display: grid;
        grid-template-columns: auto auto;
    }

    table,
    th,
    td {
        font-size: 110%;
    }

    #map {
        width: 50%;
        height: 300px;
    }
}

@media screen and (max-width: 900px) {
    .room-images {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: auto;
    }

    table,
    th,
    td {
        font-size: 100%;
    }
}

@media screen and (max-width: 750px) {
    nav a {
        font-size: 15px;
        padding: 7px
    }

    h1 {
        font-size: 25px;
        margin-top: 30px;
    }

    p {
        font-size: 18px;
    }

    th {
        font-size: 90%;
    }

    table,
    th,
    td {
        font-size: 90%;
    }

}

@media screen and (max-width: 650px) {

    table,
    th,
    td {
        font-size: 85%;
    }
}

@media screen and (max-width: 500px) {
    nav a {
        font-size: 10px;
        padding: 4px;
        display: flex;
    }

    nav ul {
        padding: 20px;
    }

    h1 {
        font-size: 20px;
        margin-top: 25px;
    }

    p {
        font-size: 12px;
    }

    .home-images {
        gap: 20px;
        width: auto;
        display: grid;
        grid-template-columns: auto;
    }

    .room-images {
        gap: 20px;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    table,
    th,
    td {
        font-size: 70%;
    }

    #map {
        width: 50%;
        height: 200px;
    }

    input[type=text],
    textarea {
        width: 200px;
    }
}